<section id="{{id}}" class="{{id}}">
    <h1 class="titleForm">{{title}} advertisement</h1>
    <form id="{{formId}}" class="form">
        <div>Title:</div>
        <div>
            <input type="text" name="title" required />
        </div>
        <div>Description:</div>
        <div>
            <textarea name="description" rows="10" required></textarea>
        </div>
        <div>Date Published:</div>
        <div>
            <input type="date" name="datePublished" required />
        </div>
        <div>Price:</div>
        <div>
            <input type="number" step="0.01" name="price" required />
        </div>
        <div>Image:</div>
        <div>
            <input type="text" name="image" required />
        </div>
        <div>
            <input type="button" id="{{btnId}}" value="{{btnValue}}" />
        </div>
    </form>
</section>