<article class="chirp">
    <div class="titlebar">
        <a href="#/profile/:{{_id}}" class="chirp-author">{{author}}</a>
        <span class="chirp-time">
            {{#if isMyPage}}
            <a href="#/delete/:{{_id}}">delete</a>
            {{/if}}
            {{_kmd.ect}}
            </span>
    </div>
    <p>{{text}}</p>
</article>